@import 
url('https://fonts.googleapis.com/css?family=Indie+Flower');

.mute-box {
  padding: 0px;
  margin: 0px; 
}

#nav-header {
  backround-color: #green; 
  height: 50px; 
  width: 200px; 
  border: solid 1px;
  position: absolute;
  right: 600px;
}

#main-content {
  float: right;
  
}

#list-content {
  
}


#*{
  border: solid 5px red;
  //display: inline;
 }

body {
	background-color: skyblue; 
  font-family: 'Indie Flower', cursive;
}

img {
	height: 200px;
	width: 200px;
}

#camPic {
  filter: drop-shadow(30px 10px 4px #4444dd);
  height: 300px; 
  width: 300px; 
}

.allPics {
  border: dotted 12px black;
}